*.tlog
*.obj
*.exp
*.log
*.idb
.vs/
EapCore/x64/Debug/qt/
*.ilk
*.pdb
*.recipe
EapPlugin/x64/Debug/qt/
EapSimulatorApp/x64/Debug/qt/
*.natvis
EapPlugin/x64/Debug/EapPlugin.vcxproj.FileListAbsolute.txt
EapPlugin/logs/
*.user
x64/
EapPlugin/upload_queue.db
